<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Include>[Rasm*]*,[Foundation.CSharp.Analyzers]*,[Radyab]*</Include>
          <Exclude>[*Tests]*,[*TestKit]*</Exclude>
          <ExcludeByFile>**/obj/**;**/*.Generated.cs;**/*.g.cs</ExcludeByFile>
          <ExcludeByAttribute>System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute,System.CodeDom.Compiler.GeneratedCodeAttribute,System.Runtime.CompilerServices.CompilerGeneratedAttribute</ExcludeByAttribute>
          <Format>cobertura</Format>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>true</DeterministicReport>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
