// --- [BUILD] ---------------------------------------------------------------------------
MACOSX_DEPLOYMENT_TARGET = 26.6
ARCHS = arm64
ALWAYS_SEARCH_USER_PATHS = NO
DEAD_CODE_STRIPPING = YES
ENABLE_USER_SCRIPT_SANDBOXING = YES
GENERATE_INFOPLIST_FILE = YES
PRODUCT_NAME = $(TARGET_NAME)
DEBUG_INFORMATION_FORMAT[config=Release] = dwarf-with-dsym

// --- [SIGNING] -------------------------------------------------------------------------
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = BBXB9R367P

// --- [SWIFT] ---------------------------------------------------------------------------
SWIFT_VERSION = 6.0
SWIFT_OPTIMIZATION_LEVEL[config=Debug] = -Onone
SWIFT_COMPILATION_MODE[config=Release] = wholemodule
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
SWIFT_STRICT_MEMORY_SAFETY = YES
SWIFT_UPCOMING_FEATURE_EXISTENTIAL_ANY = YES
SWIFT_UPCOMING_FEATURE_INTERNAL_IMPORTS_BY_DEFAULT = YES
SWIFT_UPCOMING_FEATURE_MEMBER_IMPORT_VISIBILITY = YES
SWIFT_UPCOMING_FEATURE_INFER_ISOLATED_CONFORMANCES = YES
SWIFT_UPCOMING_FEATURE_NONISOLATED_NONSENDING_BY_DEFAULT = YES
OTHER_SWIFT_FLAGS = -enable-upcoming-feature ImmutableWeakCaptures
